html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background: #de9a72;
  margin: 0; /* Remove default margin */
}

.piano {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 0;
  box-sizing: border-box; /* Include padding in width */
}

.keys-container {
  background: #b5660f;
  display: grid;
  gap: 6px;
  padding:8px;
  grid-template-columns: repeat(6, 1fr); 
}

.key {
  aspect-ratio: 1;
  width: 100%;
  min-height: 40px;
  background: #fcfea7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: background 0.1s, transform 0.1s; /* Smooth transition */
}

@media (max-width: 600px) {
  .piano {
    padding: 50px;
  }
  
  .keys-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Flexible columns */
    gap: 5px; 
    }
}

.key:active, .key.active {
    background: #ffe6f1;;
    transform: translateY(1px);
}